.preview>img{
    width:300px;
    height:300px;
}

.link{
    background-color: white;
    text-decoration: none;
    border: none;
    border-radius: 70px 70px;
    padding: 10px 10px;
  }
.buttons{
    color: blue;
  }
  .buttons:hover{
    color: #4C3657;
}