.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 5vw;
}
.navlinks {
    margin-left: 5px;
    display: flex;
  }
.link{
    text-decoration: none;
    color: #c4e5fd;
    font-size: 20px;
    margin-left: 20px;
}

.link:hover{
    color: white;
    transform: translateY(-2px);
}